<app-menu></app-menu>

<div class="main">
    <div class="container">
      <div class="row mt-5">
        <div class="col-4">
          <app-receitas-card></app-receitas-card>
        </div>
        <div class="col-4">
          <app-debitos-card></app-debitos-card>
        </div>
        <div class="col-4">
          <app-balance-total-card></app-balance-total-card>
        </div>
      </div>
    </div>
    <app-receitas></app-receitas>
    <app-debitos></app-debitos>
  </div>
  
 <app-footer></app-footer>